<!DOCTYPE>
<html ng-app="solrApp">

<head>
    <!-- DEV -->
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap-theme.min.css">
    <script src="lib/angular.min.js"></script>

    <!-- Bootstrap -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/socket.min.js"></script>
    <script src="app.js"></script>
    <script src="services/chatSocket.js"></script>

    <title>Solr-Angular App</title>
</head>

<body>
    <div class="container" ng-controller="mainCtrl">
        <div class="panel panel-default">
            <div class="panel-heading" align="center">Book Information</div>

            <table class="table">
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Publisher</th>
                <th>Year Published</th>
                <tr ng-repeat="book in messages">
                    <td>{{ book.title_t[0] }}</td>
                    <td>{{ book.author_s }}</td>
                    <td>{{ book.cat_s }}</td>
                    <td>{{ book.publisher_s }}</td>
                    <td>{{ book.pubyear_i }}</td>
                </tr>
            </table>

        </div>
    </div>

    </div>
</body>

</html>
